@page "/"

<PageTitle>Home | LinkVault </PageTitle>

<div class="min-h-0 h-full grow">
    <div class="flex min-h-full flex-col justify-center">
        <div class="w-full max-w-3xl mx-auto text-center space-y-8">
            <div class="space-y-4">
                
                <BbTypographyH1 class="text-4xl sm:text-5xl lg:text-6xl font-bold tracking-tight">
                    LinkVault
                </BbTypographyH1>
                <BbTypographyLead class="mx-auto max-w-2xl text-muted-foreground">
                    A Simple URL Shortening Service.
                </BbTypographyLead>

                <BbCard>
                    <BbCardHeader>
                        <BbCardTitle>Shorten a Link</BbCardTitle>
                        <BbCardDescription>Transform your long URL into a short link here.</BbCardDescription>
                    </BbCardHeader>
                    <BbCardContent>
                        <div class="flex flex-col sm:flex-row gap-3">
                            <BbInput @bind-Value="inputUrl" Type="InputType.Url" placeholder="Paste long url here" class="flex-1" />
                            <BbButton @onclick="ShortenUrl">Shorten</BbButton>
                        </div>
                    </BbCardContent>
                    <BbCardFooter>
                        <BbTypographyMuted>LinkVault is a free service to shorten URLs into short links.</BbTypographyMuted>
                    </BbCardFooter>
                </BbCard>
                
                @if (!string.IsNullOrEmpty(shortCode))
                {
                    <BbLabel>Short Code: @shortCode</BbLabel>
                }

            </div>
        </div>
    </div>
</div>

@code
{
    private string inputUrl = string.Empty;
    private string shortCode = string.Empty;

    public async Task ShortenUrl()
    {
        var request = new ShortenUrlRequest(inputUrl);
        var result = await ApiClient.ShortenUrlAsync(request);
        shortCode = result.ShortCode;
    }
}
