@page "/{shortCode}"
@using LinkVault.Web.Blazor.Exceptions
@using Microsoft.AspNetCore.Mvc
@using System.Net


<PageTitle>Redirect | LinkVault</PageTitle>

@if (isLoading)
{
    <div class="flex items-center justify-center min-h-screen">
        <BbSpinner Size="SpinnerSize.Large" />
    </div>
}
else if (error is not null)
{
    <div class="flex items-center justify-center min-h-screen">
        <BbCard>
            <BbCardHeader>
                <LucideIcon Name="triangle-alert" Class="self-center" Color="red" Size="48" StrokeWidth="4.0" />
                <BbCardTitle Class="self-center">@error.Title</BbCardTitle>
            </BbCardHeader>
            <BbCardContent>
                <p class="text-muted-foreground">@error.Detail</p>
            </BbCardContent>
            <BbCardFooter>
                <BbButton Class="w-full" Variant="ButtonVariant.Secondary" @onclick="GoHome">
                    Go to Home
                </BbButton>
            </BbCardFooter>
        </BbCard>
    </div>
}

@code {
    [Parameter]
    public string ShortCode { get; set; } = string.Empty;

    private sealed record LinkRedirectError(
        HttpStatusCode StatusCode = HttpStatusCode.InternalServerError,
        string Title = "Unexpected Error",
        string Detail = "An unexpected error occurred. Please try again later.")
    {
        public static readonly LinkRedirectError Default = new(
            HttpStatusCode.InternalServerError,
            "Unexpected Error",
            "An unexpected error occurred. Please try again later.");

        public static LinkRedirectError FromApiException(ApiException exception) => new(
            exception.StatusCode,
            exception.Problem?.Title ?? Default.Title,
            exception.Problem?.Detail ?? Default.Detail);
    }

    private bool isLoading = true;
    private LinkRedirectError? error;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }

        try
        {
            var response = await ApiClient.ExpandUrlAsync(new(ShortCode));
            Navigation.NavigateTo(response.OriginalUrl, forceLoad: true);
        }
        catch (ApiException exception)
        {
            error = LinkRedirectError.FromApiException(exception);
            isLoading = false;
        }
        catch (Exception)
        {
            error = LinkRedirectError.Default;
            isLoading = false;
        }
        
        await InvokeAsync(StateHasChanged);
    }

    private void GoHome() => Navigation.NavigateTo("/");
}
